name: Build OrangeFox (garnet)

on:
 workflow_dispatch:

jobs:
 build:
  runs-on: ubuntu-22.04
  timeout-minutes: 900
  steps:
  - name: Set swap
    uses: pierotofy/set-swap-space@master
    with:
      swap-size-gb: 20

  - name: Install dependencies
    run: |
      sudo apt update
      sudo apt install -y \
        git-core repo bc bison build-essential curl flex g++-multilib \
        gcc-multilib gnupg gperf imagemagick lib32ncurses5-dev \
        lib32readline-dev lib32z1-dev libelf-dev liblz4-tool \
        libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev \
        libxml2 libxml2-utils lzop pngcrush rsync schedtool \
        squashfs-tools xsltproc zip zlib1g-dev python3 ccache

  - name: Git identity
    run: |
      git config --global user.name "github-actions"
      git config --global user.email "actions@github.com"

  - name: Init OrangeFox source
    run: |
     mkdir fox
     cd fox
     
  - name: Init OrangeFox source
    run: |
     rm -rf fox
     git clone https://gitlab.com/OrangeFox/manifest.git fox
     cd fox
     repo init -u https://gitlab.com/OrangeFox/manifest.git 
     -b android-13.0 
     --depth=1 
     --no-clone-bundle 
     --no-tags
     repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

  - name: Replace device tree
    run: |
      cd fox
      rm -rf device/garnet
      git clone https://github.com/cocka11/Orange_Fox_Garnet.git device/garnet     - name: Enable ccache
       run: |
      echo "export USE_CCACHE=1" >> $HOME/.bashrc
      echo "export CCACHE_EXEC=/usr/bin/ccache" >> $HOME/.bashrc
      ccache -M 50G

  - name: Build recovery
    run: |
      cd fox
      source build/envsetup.sh
      lunch fox_garnet-eng
      mka recoveryimage -j$(nproc --all)

  - name: Upload recovery.img
    uses: actions/upload-artifact@v4
    with:
      name: OrangeFox-garnet
      path: fox/out/target/product/garnet/recovery.img
